
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import "tailwindcss";


 
 a {
   text-decoration: none;
   color: inherit;
  transition: transform 0.1s;
  display: inline-block;
}

a:hover {
  transform: scale(1.1);
  z-index: 0.2;
 }
.logo > a img   {
max-width: 100px;
max-height: 100px;

}

.header-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    justify-content: space-between;
    font-size: 20px;
    border-color: black;
    border-width: 2px;
    background-color: aquamarine;
}

.header{
    border-color: aqua;
    border-width: 2px;

}

.nav-items{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: auto;
}

.nav-items >li {
 
    justify-content: space-between;
    padding: 35px;
}
 .restaurant-container{
    display: flex;
    flex-wrap: wrap;  
 
} 

.res-image{
    width:220px;
    height:150px;   
    
}

.res-card{
   margin: 17px;
      padding: 10px;
       width: 220px;
       background-color:rgb(235, 240, 243);
       height: 300px;
   
}

.shimmer-card{
     margin: 5px;
      padding: 5px;
       width: 200px;
       height:250px;
       background-color:rgb(235, 240, 243);
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
  
}

.shimmer-search-panel{

   width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Remove or set reasonable height, padding, and margin */
  height: 60px; /* or whatever fits your design */
  padding-top: 0;
  margin-top: 0;
}

.res-card:hover{
 border: 1px solid black;
 cursor: pointer;
}

.sort-filter{
cursor: pointer;

}

.filter-btn{
display: flex;
justify-content: flex-end;
margin-right: 20px;
margin-top: 25px;

}



.search-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 16px;
}

.search-input {
  display: flex;
  align-items: center;
  gap: 8px;
}


.filter-search-container {
  display: flex;
  align-items: center;
  gap: 1050px; /* reasonable space between search and sort */
  margin-bottom: 20px;
}





.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
    margin-left: 300px;
    margin-right: 300px;
  border: 2px solid black;
  
}

.cuisine-list{
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
    width: 100%;
    box-sizing: border-box;
}

.cuisine-style{
 
  border-bottom: 1px solid #888;
  padding: 8px 0;
  margin: 4px 0;
}
.user-class {
  display: flex;
  align-items: center;
  justify-content: space-between; /* image left, data right */
  gap: 20px;
  padding: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 24px auto; /* centers container on page */
  box-sizing: border-box;
  border-color: gray;
  border: 1px solid #ccc;
}

.user-image {
  flex: 0 0 auto;
}

.user-image img {
  width: 100px;
  height: 100px;
  border-radius: 90%;
  margin-left: 50px;
  object-fit: cover;
  display: block;
}

.user-data {
  flex: 1 1 auto;
  text-align: left; /* keep data on the right side */
  padding-left: 300px 
}

/* Contact page: center contact info text */
.contact-info {
  text-align: center;
  margin-top: 12px;
}